[
	{ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ 5671 ] },
		{ ssl_options, [
			{cacertfile, "/etc/rabbitmq/cert/v5/ca.pem"},
			{certfile,   "/etc/rabbitmq/cert/v5/server.pem"},
			{keyfile,    "/etc/rabbitmq/cert/v5/serverkeyrsa.pem"},
			{password,  "changeit"},
			{verify,     verify_peer},
			{fail_if_no_peer_cert, true},
			{versions, ['tlsv1.2', 'tlsv1.1']}
		]},
		{ default_pass, <<"nimda">> },
		{ default_user, <<"admin">> },
		{ hipe_compile, false }
	] },
	{ rabbitmq_management, [ 
        { load_definitions, "/etc/rabbitmq/definitions.json" },
        { listener, [
		    { port, 15672 },
		    { ssl, false }
	    ] }
    ] },
	{ rabbitmq_shovel, [ 
		{ shovels, [
			{ shovel_remoto_enviar_1, [ 
				{ source, [ 
					{ protocol, amqp091 },
					{ uris, [ "amqp://admin:nimda@localhost/om" ] },
					{ queue, <<"enviar.queue">> }
				] },
				{ destination, [ 
					{ protocol, amqp091 },
					{ uris, [ "amqp://admin:nimda@rabbitmq-local/om" ] },
					{ declarations, [ 
						{'queue.declare', [
							{ queue, <<"enviar1.queue">> },
							durable
						]},
						{'queue.bind', [ 
							{ exchange, <<"enviar">> },
							{ queue, <<"enviar1.queue">> },
							{ routing_key, <<"#">> },
							{ arguments, [
								{<<"x-match">>, longstr, <<"any">>},
								{<<"destino1">>, longstr, <<"destino1">>}
							]}
						]}
					] },
					{ publish_fields, [ 
						{ exchange, <<"enviar">> },
						{ routing_key, <<"#">> }
					] }
				] },
				{ reconnect_delay, 10 }
			] },
			{ shovel_remoto_receber_1, [ 
				{ source, [ 
					{ protocol, amqp091 },
					{ uris, [ "amqp://admin:nimda@rabbitmq-local/om" ] },
					{ queue, <<"enviar1.queue">> }
				] },
				{ destination, [ 
					{ protocol, amqp091 },
					{ uris, [ "amqp://admin:nimda@localhost/om" ] },
					{ publish_fields, [ 
						{ exchange, <<"receber">> },
						{ routing_key, <<"#">> }
					] }
				] },
				{ reconnect_delay, 10 }
			] }
		] }
	] }
].
